/* Use the Inter font */
body {
  font-family: "Nunito", sans-serif;
  background-color: #fdfcfa;
  color: #222;
}

h1.display-4 {
  font-weight: 700;
  color: #5a3e85;
}

.btn-primary {
  background-color: #5a3e85;
  border-color: #5a3e85;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #4b3370;
  border-color: #4b3370;
  color: #fff;
}

.btn-primary:disabled {
  background-color: #5a3e85;
  border-color: #5a3e85;
  opacity: 0.65;
  color: #fff;
}

/* Name My Monster! button */
#monster-form button {
  font-size: 2rem;
  padding: 0.75rem 2rem;
  display: block;
  margin: 1rem auto;
}

/* Character counter styling */
#char-count {
  text-align: right;
  font-size: 0.9rem;
  color: #6c757d;
  margin-top: 0.25rem;
}

#latest-table-wrapper {
  max-width: 600px;
}

#results {
  margin-top: 2rem;
}

.table th {
  background-color: #e6e2f3;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}
